 *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }

 body{
   font-family: 'Work Sans', sans-serif;
 }



 .header-img{
    background-image: url('../images/banner/banner1.png');
    background-size: cover;
    background-repeat: none;
    width: 100%;
    height: 100dvh;
    position: relative;
    margin-bottom: 130px;
     
 }


 .main-content{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 300px;
    position: absolute;
    right: 50%;
    left: 60%;
    top: 30%;
    text-align: end;
    
 }

 .main-content, h1, p, button{
    margin-bottom: 15px;
 }

 .main-header{
   font-size: 2.5rem;
   text-align: end;
   font-weight: bold;
   color: #151414;
 }

 .main-paragraph{
   font-size: 1rem;
   font-weight: 400;
   color: #444343;
   line-height: 26px;

 }

 .main-btn{
   padding: 12px 20px 12px 20px;
   border: none;
   background-color: #F15B22;
   border-radius: 5px;
   color: white;
 }


 /* main section */

 .main-section{
   background-color: f7f8f8;
   width: 100%;
   height: 100dvh;
   
 }

 .section-img{
   width: 560px;
   
 }

 .section-content{
   display: flex;
   justify-content: center;
   gap: 8%;
   
 }

 .section-content2{
   width: 25%;
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
   
   

 }

 .section-content2, h2, p{
   margin-bottom: 15px;
 }

 .section-content2, p{
   color: #444343 ;
 }

 .section-heading{
   font-size: 2.5rem;
   font-weight: 700;
 }

 .fas, fa-check{
   color: #16D887;
   margin-right: 10px;
 }

 